.header-box {
  background-color: #92dff3; 
  color: #1B5886;
  padding: 20px 0;
  font-family: serif;
}

.header-content {
  font-weight: 900;
  font-family: math;
  max-width: 1200px; 
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.header-content h1 {
  margin: 0;
  font-size: 2rem; 
}

nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

nav ul li {
  margin: 0;
}

nav ul li a {
  color: #1B5886;
  text-decoration: none;
  font-size: 1rem; /
}

nav ul li a:hover {
  color: black ;
}

@media (max-width: 768px) {
  .header-content {
      flex-direction: column; 
      align-items: flex-start;
  }

  nav ul {
      flex-direction: column; 
      gap: 10px; 
  }
}
