.home-container {
  background: url("../../public/pharmacy.png") no-repeat center;
  background-size: cover; 
  height: 100vh; 
  display: flex;
  justify-content: center;
  align-items: center;
}

.content-box {
  display: flex;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px; 
}

.text-content {
  font-family: math;
  font-weight: 900;
  text-align: center;
  margin-right: 20px; 
  color: rgb(15, 15, 14); 
  border: 2px solid rgba(255, 255, 255, 0.8); 
  border-radius: 50px 50px 50px 50px; 
  padding: 20px; 
  background-color: rgba(255, 255, 255, 0.9); 
}

.text-content h1 {
  font-size: 2.5rem; 
  margin-bottom: 10px;
}

.text-content p {
  font-size: 1.2rem; 
}

.image-container {
  width: 300px; 
  height: 300px;
}

.pharmacy-image {
  border-radius: 10px; 
}

@media (max-width: 768px) {
  .content-box {
      flex-direction: column; 
      align-items: center;
  }
  .home-container{
    height: auto;
  }

  .text-content {
      margin-right: 0; 
      text-align: center;
  }

  .image-container {
      margin-top: 20px; 
  }
}
